* {box-sizing: border-box; padding: 0; margin: 0;}

:root {
    font-size: 62.5%;
    color: rgb(235, 235, 235);
    --bgColor: rgb(20, 20, 20);
    --navColor: rgb(30, 30, 30);
    --fontColor: rgb(235, 235, 235);
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--bgColor);
}