nav {
    position: absolute;
    top: 50%;
    left: -2.3rem;

    transition: ease 1s;
    transition-delay: 2s;
}

nav:hover {
    position: absolute;
    margin-left: 3rem;

    transition-delay: .1s;
}

nav > .content {
    display: flex;
    flex-direction: column;

    font-size: 2.5rem;
    
    transform: rotate(45deg);
}

nav > .content > .toggleButton {
    z-index: 10;
    color: var(--fontColor);
}

nav > .content > li {
    z-index: 0;
    transition: ease .5s;
    transition-delay: 2s;
}

nav:hover > .content > li{
    transform: rotate(calc(var(--i) * (360deg/-8))) translateY(12rem);
    transition-delay: .6s;
}

nav > .content > .toggleButton > i {
    transform: rotate(calc((360deg/-10) - 9deg));
}

nav > .content > li > .contactList > i {
    color: var(--fontColor);
}

nav > .content > li,
nav > .content > li > .contactList > li {
    position: absolute;
}

nav > .content > li > a {
    transform: rotate(calc(var(--i) * (360deg/8) - 45deg));
}

nav > .content > .toggleButton,
nav > .content > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--navColor);
    text-decoration: none;
    
    border-radius: 50%;
}

nav > .content > li > .contactList > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--navColor);
    font-size: 2rem;
    border-radius: 50%;
    
    text-decoration: none;
}

nav > .content > li > .contactList > .github > a {
    transform: rotate(75deg);
}

nav > .content > li > .contactList > .linkedin > a {
    transform: rotate(37deg);
}

nav > .content > li > .contactList > .whatsapp > a {
    transform: rotate(0deg);
}

nav > .content > li > .contactList > i {
    transform: rotate(calc(var(--i) * (360deg/8) - 80deg)) 
}

nav > .content > li > .contactList > li > a {
    transform: rotate(calc(var(--i) * (360deg/8) - 55deg)) 
}

nav > .content > li > a,
nav > .content > li > .contactList > li > a {
    color: var(--fontColor);
    
}

nav > .content,
nav > .content > li > .contactList {
    list-style: none;
}


nav > .content > li > .contactList{
    transform: rotate(35deg);
}

nav > .content > li > .contactList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--navColor);
    text-decoration: none;

    border-radius: 50%;
}

nav > .content > li > .contactList > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--navColor);
    text-decoration: none;

    border-radius: 50%;
    z-index: 10;
}

nav > .content > li > .contactList > li.contactItem {
    z-index: 0;

    transition: ease .5s;
    transition-delay: 1.9s;
}

nav > .content > li > .contactList:hover > li{
    transition-delay: calc(var(--i) + .2s);
    transform: rotate(calc(var(--i) * (360deg/-10))) translateY(10rem);
}

nav > .content > li > a,
nav > .content > li > .contactList > i {
    transition: ease .5s;
}

nav > .content > li > a:hover,
nav > .content > li > .contactList > i:hover {
    box-shadow: 0 0 7px 0 rgba(164, 0, 164, 0.864);
}